.highlight {
	background-color: yellow;
}

.error {
	background-color: lightcoral;
	border-color: red;
}

body {
	background-color: #b2bec3;
}

h1 {
	text-align: center;
}

#quote {
	font-size: 32px;
}
